PUID=1000
PGID=1000
UPDATE_ON_START=true
SERVER_NAME={{ game.label | default(game_name) }} [homelab]
MAX_PLAYERS={{ game.max_players }}
SERVER_PASSWORD={{ vars['vault_join_pass_' + game_name] | default('') }}
PORT={{ game.windrose_port }}
QUERYPORT={{ game.windrose_query_port }}
USE_DIRECT_CONNECTION=true
DIRECT_CONNECTION_SERVER_PORT={{ game.windrose_port }}
